.contact-us {
   display: flex;
   align-items: center;
}

.contact-item {
   flex: 1 1 0;
}

.contact-header {
   margin-bottom: 40px;
   color: $black;
   font-size: $subtitle;
   font-weight: $font-regular;
   font-family: $font-title;
   text-align: center;
}

.contact-info {
   display: flex;
   flex-direction: column;
   padding: 60px 45px;
   width: 65%;
   background: $white-;
   border-radius: 40px;
   font-family: $font-text;
}

.info {
   margin-bottom: 15px;
   padding: 10px 0 10px 10px;
   font-size: $text;
   font-weight: $font-light;
   cursor: pointer;
   width: $w100;
   background: $white;
   color: $gray--;
   border: none;
   &:hover, &:focus {
      color: $black;
      background: $white;
      outline: 0;
      box-shadow: 0 0 0 0.1px $box-color;
   }
}

.message {
   padding: 40px 0 40px 10px;
   margin: 0 auto;
}

#buttn {
   width: 170px;
   margin: 30px auto 15px;
   padding: 13px 25px;
   font-size: $text;
   font-weight: $font-light;
   background: $orange-;
   color: $white;
   border-radius: 0;
   border: 0;
   text-transform: uppercase;
   &:hover, &:focus {
      color: $yellow-hover;
      background: $red-hover;
   }
}