.footer-header {
   color: $logo-footer-color;
   text-align: center;
}

.footer-title {
   color: $white;
   font-size: $subtitle;
   font-weight: $font-regular;
   font-family: $font-title;
}

.landing-page {
   background: transparent;
   color: $mark-color;
}

.footer-text {
   margin: 20px auto;
   padding: 0 370px 0;
   font-family: $font-text;
   font-size: $text;
   font-weight: $font-light;
   &::before {
      content: "";
      display: block;
      position: absolute;
      width: $w100;
      height: 1px;
      top: 80px;
      left: 0;
      z-index: 1;
      background: $gray---;
   }
}

.copyright {
   padding-top: 25px;
   font-family: $font-text;
   font-size: $copyright;
   font-weight: $font-light;
}