body {
   padding: 0;
   background: $white;
   overflow-x: hidden;
}

section {
   width: $w100;
   margin: 5rem auto;
   background: $white-;
}

footer {
   background: $black-;
   margin: 0 auto;
   padding-top: 4rem;
   padding-bottom: 0.5rem;
}

.contact-section {
   background: $white;
}

.healthy-section {
   background: $gradient;
}

.testimonial-section {
   background: url(#{$distPath}img-4.png) center no-repeat;
   background-size: cover;
   width: $w100;
   height: $h100;
   margin-bottom: 0;
}

.section-header {
   width: $w100;
   text-align: center;
   padding-bottom: 13rem;
}

.header-title {
   color: $black-;
   font-size: $subtitle;
   font-weight: $font-regular;
   font-family: $font-title;
}

.header-text {
   font-family: $font-text;
   font-size: $text;
   font-weight: $font-light;
   color: $gray;
}