.header {
   padding-top: 0.2rem;
   z-index: $zindex-dropdown;
   width: $w100;
   font-family: $font-text;
}

.header-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: $w1000;
}

.header-logo {
   display: flex;
   font-family: $font-title;
   font-size: $logo-name;
   font-weight: $font-bold;
   color: $logo-footer-color;
   i {
      color: $white;
      font-size: $logo-icon;
   }
}

.nav-link {
   font-size: $text;
   font-weight: $font-light;
   color: $white;
   &:hover, &:focus {
      color: $yellow-hover;
   }
}